* { box-sizing: border-box;
  /* Color scheme */
  --textcolor: #000000;
  --bgcolor: #f0f0f0;
  --highlight: rgb(202,89,73);  /*rgb(202,89,73)rgb(254,113,93)rgb(253,155,141)rgb(254,211,205);
  #CA5949
  #FE715D
  #FD9B8D
  rgb(254,211,205);*/
}
@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #dadada;
    --bgcolor: #343d46;
    --highlight: #ffc400;
  }
}
body {
/*  font-size: 1em;
  font-family: system-ui, sans-serif;*/
  line-height: 1.2; /* межстрочный отступ */
  color: var(--textcolor);
  background: var(--bgcolor);
   font-family: Cambria,Times New Roman,Times,FreeSerif,Noto Serif,serif,Monomakh Unicode,sans-serif,Calibri,Segoe UI;
    font-size: 105%;
    margin: 0 auto;
}
    #header,
    #main,
    main,
    body,
    header,
    section,
    img
    {
      max-width: 600px;
      margin: 0 auto;
    }
   section {
  padding: calc(4em + 5vw) 0vw 0vw 0vw;
  display: none;
   position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--bgcolor);
}
section:target { /* Show section */
  display: block;
}
section#home { /* Show #blog by default */
  display: block;
}
#header {
  font-size: 0.9em;
  padding: 5vw 5vw 0 5vw;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 2;
}
#main {
    padding: calc(4em + 5vw) 0vw 0vw 0vw;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
}
a {
  color: var(--highlight);
  text-decoration: none;
}
 a:hover,
 a:focus {
  text-decoration:underline
 }

img{
 display: block;
 margin: 30px auto 0px auto;
 max-width: 100%;
}

p {
 text-align: justify;
 margin: 0vw 10px 0vw 10px;
 line-height: 1.35;
}

.podpis { 
margin: 5px 0px 10px 0px;
text-align: center;
font-size: 0.9em;
font-style: italic !important;
font-family: "Open Sans", sans-serif;
}

.key_words { 
margin: 10px 0px 10px 0px;
color: #CA5949;
font-size: 0.7em;
font-family: "Open Sans", sans-serif;
}


.word { 
text-indent: 30px; 
-moz-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
}

.biblio { 
font-size: 0.9em;
}

.cite_note-1 { 
margin: 0px 0px 8px 0px;
}


.formula { 
font-size: 1.2em;
margin: 15px 0px 20px 0px;
text-align: center;
}

kbd {
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(#fefefe, #e7e7e7);
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  color: #000;
  padding: 3px 2px;
  line-height: 10px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  display: inline-block;
}

h2, h3, h4 {
  color: var(--highlight);
  font-weight: 600;
  margin: 16px 0vw 8px 0vw;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.15em;
}

h3 {
  font-size: 1.3em;
  letter-spacing: 0.15em;
  text-align: center;
}

h4 {
  font-size: 1.1em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
}

li {
list-style-position: inside;
 padding: 0px 10px 0px 28px;
 line-height: 1.35;
}
ol {
padding-left: 0px;
}

sup {
  font-size: 0.7em;
  font-weight: 600;
}

pre, textarea { /* for code samples */
  max-width: 90%;
  font-size: .9em;
  color: inherit;
  line-height:inherit;
  padding:.6em .6em;
  margin: 0em 0px 0px 30px;
  position: relative;
  display: block;
  width: 100%;
  white-space: pre;
/*  border: 1px solid #cfcfcf;rgba(255,211,205,.075);*/
  border-radius: 5px;
  background:rgb(254,227,220);
  page-break-inside: avoid;
      white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
 padding: 0px 0px 0px 0px;
}
