---
---

@import "{{ site.theme }}";


body {
background-color: #f7f7f7;
color: #141414;

}

a {
  color: #CA5949;
  text-decoration: none;
}

 a:hover,
 a:focus {
 color:#CA5949;
  text-decoration:underline
 }

::selection { /* выделенный текст */
    color: #fff;
    background: #CA5949;
}


p { /* text-indent: 30px;  */
text-align: justify;
line-height: 1.35;
-moz-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
}

ol, li {
text-align: justify;
-moz-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
}

code {
 font-family:Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; 
line-height: 1.2;
}

pre {
 font-family:Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; 
line-height: 1.2;
padding: 0px 0px;
border: none;
}

table,
td {
  border: 0px;
  padding: 0;
}
.right { text-align: right;}
